on:
  pull_request:

name: Checks

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      CARGO_PROFILE_DEV_DEBUG: '0' # reduce size of target directory

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Toolchain
        run: rustup default stable

      - name: Cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.cargo/advisory-db/
            target/
          key: cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Audit
        uses: actions-rs/audit-check@35b7b53b1e25b55642157ac01b4adceb5b9ebef3 # v1.2.0
        with:
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Format
        uses: actions-rs/cargo@9e120dd99b0fbad1c065f686657e914e76bd7b72 # master
        with:
          command: fmt
          args: --check

      - name: Build/Test
        uses: actions-rs/cargo@9e120dd99b0fbad1c065f686657e914e76bd7b72 # master
        with:
          command: test
