on:
  pull_request:

name: Checks

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      CARGO_PROFILE_DEV_DEBUG: '0' # reduce size of target directory

    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Toolchain
        run: rustup default stable

      - name: Cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.cargo/advisory-db/
            target/
          key: cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Audit
        uses: actions-rs/audit-check@35b7b53b1e25b55642157ac01b4adceb5b9ebef3 # v1.2.0
        with:
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Format
        uses: actions-rs/cargo@9e120dd99b0fbad1c065f686657e914e76bd7b72 # master
        with:
          command: fmt
          args: --check

      - name: Build/Test
        uses: actions-rs/cargo@9e120dd99b0fbad1c065f686657e914e76bd7b72 # master
        with:
          command: test
